/* pembuka */
.kotak1{
    width: 1366px;
    height: 115px;
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255,.3);
    animation: geser 1.5s forwards;
    border: 1px solid black;
}
.kotak2 {
    width: 1366px;
    height: 115px;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 115px;
    animation: geserlagi 1.5s forwards;
    border: 1px solid white;
}
.kotak3 {
    width: 1366px;
    height: 115px;
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255, .3);
    margin-top: 230px;
    animation: geser 1.5s forwards;
    border: 1px solid black;
}
.kotak4 {
    width: 1366px;
    height: 115px;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 345px;
    animation: geserlagi 1.5s forwards;
    border: 1px solid white;
}
.kotak5 {
    width: 1366px;
    height: 115px;
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255, .3);
    margin-top: 460px;
    animation: geser 1.5s forwards;
    border: 1px solid black;
}
.kotak6 {
    width: 1366px;
    height: 115px;
    position: absolute;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 575px;
    animation: geserlagi 1.5s forwards;
    border: 1px solid white;
}

@keyframes geser {
    0% {
        transform: translatex(0px)
    }

    100% {
        transform: translatex(-1366px);
    }
}
@keyframes geserlagi {
    0% {
        transform: translatex(0px)
    }

    100% {
        transform: translatex(1366px);
    }
}


body{
    margin: 0;
    overflow: hidden;
}





.profil{
    margin: 50px 520px;
    width: 300px;
    height: 300px;
    background-image: url(../image/ibnulqoyyim.jpg);
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 
        inset 5px -5px 5px 3px rgba(0, 0, 0, 0.2),
        inset -5px 5px 5px 3px rgba(0, 0, 0, 0.2);
    background-size: cover;
    position: absolute;
    animation: profil 3s ;
}


@keyframes profil {
    0% {
        transform: translatex(-999px) 
    }

    50%{
        transform: translateX(500px);
    }

    100% {
        transform: translatex(0px);
    }
}

.kata{
    width: 600px;
    height: 120px;
    background-color: rgba(255, 255, 255,.4);
    position: absolute;
    border-radius: 40px;
    margin: 430px 380px;
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    animation: kata 2s infinite alternate-reverse;
}
@keyframes kata{
    0%{
        transform: translateY(30px);
    }

    40%{
        background-color: rgba(204, 0, 255, 0.3);
    }
    100%{
        transform: translateY(-50px);
        height: 150px;
        background-color: rgba(0, 162, 255,.3);
    }
}

blockquote{
    font-family: 'Roboto Slab', serif;
    margin-top: 50px auto;
    text-align: center;
}

/* background */
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(#8360c3,#2ebf91);
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 33%;
    width: 113px;
    height: 113px;
    bottom: -113px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 43%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 12%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 6s;
}
.background li:nth-child(3) {
    left: 73%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 9s;
}
.background li:nth-child(4) {
    left: 10%;
    width: 182px;
    height: 182px;
    bottom: -182px;
    animation-delay: 15s;
}
.background li:nth-child(5) {
    left: 25%;
    width: 197px;
    height: 197px;
    bottom: -197px;
    animation-delay: 12s;
}
.background li:nth-child(6) {
    left: 18%;
    width: 186px;
    height: 186px;
    bottom: -186px;
    animation-delay: 13s;
}
.background li:nth-child(7) {
    left: 65%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 1s;
}
.background li:nth-child(8) {
    left: 65%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 17s;
}
.background li:nth-child(9) {
    left: 61%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 1s;
}
/* background end */

.myButton {
    box-shadow: 5px 10px 14px -5px rgba(3, 3, 3, 0.5);
    background: linear-gradient(to bottom, #252525 5%, #636363 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #a5a5a5;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    z-index: 5;
    transition: 0.5s ease-in-out;
}



.myButton:hover {
    background: linear-gradient(to bottom, #d8d7d7 5%, #535353 100%);
    background-color: #408c99;
    color: black;
    padding: 13px 14px;
    font-size: 15px;
}

.myButton:active {
    position: absolute;
    top: 1px;
}